/*start global rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{

}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    color: white;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small*/
@media (min-width:767px) {
    .container{
        width: 750px;
        /* max-width: 100%; */
    }
}
/* maduim*/
@media (min-width:992px) {
    .container{
    width: 970px;
    }
}
/*large*/
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/*end global rules*/
.menu_links{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-image: url('..//images/body_bg.png');
    font-weight: bold !important;
}
@media (max-width:992px) {
    .menu_links{
        display: none;
    }
}
.menu_links .menu2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.top1 .right{
    display: flex;
    gap: 50px;
    color: white;
}
.logo_phone{
    display: none;
}
@media (max-width:992px) {
    .logo_phone {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-image: url('..//images/body_bg.png');
    }
}
.logo_phone .right{
    padding-top: 40px;
    transition: ease-in all 0.3s;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    -ms-transition: ease-in all 0.3s;
    -o-transition: ease-in all 0.3s;
}
.logo_phone button{
    background-color: transparent;
    color: white;
    border: none;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.logo_phone button:focus{
    outline: none;
    transition: ease-in all 0.3s;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    -ms-transition: ease-in all 0.3s;
    -o-transition: ease-in all 0.3s;
}
.logo_phone button i{
        transition: ease-in all 0.3s;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    -ms-transition: ease-in all 0.3s;
    -o-transition: ease-in all 0.3s;
}
.menu1{
    width: 100%;
    text-align: center;
    display: none;
    padding-left: 400px;
    transition: ease-in-out all 0.5s;
    -webkit-transition: ease-in-out all 0.5s;
    -moz-transition: ease-in-out all 0.5s;
    -ms-transition: ease-in-out all 0.5s;
    -o-transition: ease-in-out all 0.5s;
    background: #2b2b2b;
    padding: 20px;
}
.menu1 li{
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #d96226;
    transition: ease-in all 0.3s;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    -ms-transition: ease-in all 0.3s;
    -o-transition: ease-in all 0.3s;
}
/* start about  */
.about{
    display: flex;
    justify-content: space-between ;
    padding: 50px 50px 50px 100px;
    position: relative;
}
@media (max-width:992px) {
    .about{
        flex-direction: column;
        padding: 20px;
    }
}
.about .left{
    width: 50%;
    padding-left: 70px;
    z-index: 999;
}
@media (max-width:992px) {
    .about .left{
        padding: 0px;
        width: 100%;
    }
}
.about::before{
    position: absolute;
    content:'';
    background: url('..//images/about_left.png');
    background-repeat: no-repeat;
    top: 0;
    width: 360px;
    height: 212px;
    margin-left: -100px;
}
.about .left h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 50px;
}
@media(max-width:992px){
    .about .left h1{
        font-size: 32px;
    }
}
.about .left p{
    font-size: 17px;
}
.about .right{
    width: 50%;
}
@media(max-width:992px){
    .about .right{
        width: 100%;
        margin-top: 50px;
    }
}
.about .right img{
    max-width: 100%;
}
.menu_links a{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-weight: bold !important;
    font-size: 25px;
}
a:hover{
    color: #d96226;
}
/* end about  */
/* start footer  */
footer{
    background-image: url('..//images/body_bg.png');
    color: white;
    padding: 50px 0 20px;
    text-align: center;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 0;
    text-align: left;
    overflow: hidden;
    margin-bottom: 50px;
}
footer .items{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
footer .items a{
    transition: ease-in all 0.3s;
    -webkit-transition: ease-in all 0.3s;
    -moz-transition: ease-in all 0.3s;
    -ms-transition: ease-in all 0.3s;
    -o-transition: ease-in all 0.3s;
}
footer .items a:hover{
    color: #d96226;
}
footer input{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}
.active{
    color: #d96226;
}
.btn{
    margin-top: 55px;
    text-transform: uppercase;
    font-weight: bold;
    width: 250px !important;
    height: 65px !important;
    line-height: 65px;
    background-color: #d96226;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: white;
    border: none;
    transition: ease-in all 0.5s;
    -webkit-transition: ease-in all 0.5s;
    -moz-transition: ease-in all 0.5s;
    -ms-transition: ease-in all 0.5s;
    -o-transition: ease-in all 0.5s;
    padding-bottom: 0px;
}
button:hover{
    background-color: black;
    color: #d96226;
}
footer .btn{
    margin-top: 20px;
    width: 100%;
}
footer .links a li{
    width: min-content;
}
footer span a{
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer span a:hover{
    color: #d96226;
}
/* end footer  */